/* ---------------------------------------------
font & reset css
---------------------------------------------  */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
.color-1 {
  color: #2bcdc0;
}
.color-2 {
  color: #010d45 !important;
}
.color-text {
  color: #153f5b !important;
}
.color-2-bg {
  background-color: #010d45 !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
  color: #3cf;
}

a:hover {
  color: #fc3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  /* font-size: 2.5rem; */
}

ul {
  margin-bottom: 0px;
  list-style-type: none !important;
}

p {
  /* font-size: 15px; */
  line-height: 25px;
  color: #2a2a2a;
}

img {
  /* width: 100%; */
  overflow: hidden;
}

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
  background: #fff;
  font-family: "Roboto", sans-serif;
}

::selection {
  background: #2bcdc0;
  color: #fff;
}

::-moz-selection {
  background: #2bcdc0;
  color: #fff;
}
.border-section {
  border-bottom: rgba(0, 0, 0, 0.01);
}
.animate__animated.animate__bounce {
  --animate-duration: 3s;
}
@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

.main-button-red a {
  font-size: 13px;
  color: #fff;
  background-color: #2bcdc0;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 22px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s;
}
.main-header-button-div {
  margin-top: 3rem;
}
.main-header-book-button {
  font-size: 13px;
  color: #fff;
  background-color: #2bcdc0;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 22px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s;
}
.main-header-book-button:hover {
  opacity: 0.9;
}
.main-button-red a:hover {
  opacity: 0.9;
}

.main-button-yellow a {
  font-size: 13px;
  color: #fff;
  background-color: #2bcdc0;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 22px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s;
}

.main-button-yellow a:hover {
  opacity: 0.9;
}

.section-heading h2 {
  line-height: 40px;
  margin-top: 0px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.15);
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.section-common {
  padding-bottom: 80px;
  padding-top: 25px;
  padding-left: 72px;
  padding-right: 72px;
}
/* <!---------------------------Navbar Start----------------------------------------> */
.navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
  --bs-navbar-toggler-border-radius: 0.375rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x); */
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.bg-white {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}

.navbar {
  min-height: 71px;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.container {
  --bs-gutter-x: 1.5rem;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container {
  max-width: 1480px;
}

@media (max-width: 1366px) {
  .container {
    max-width: 1170px;
  }
}

.navbar .navbar > .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

a {
  color: var(--bs-link-color);
  text-decoration: underline;
}

.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: var(--bs-navbar-brand-color);
  text-decoration: none;
  white-space: nowrap;
  min-height: 50px;
  max-width: 100%;
  width: 220px;
}

a:hover {
  color: var(--bs-link-hover-color);
}

.navbar-brand:hover {
  color: var(--bs-navbar-brand-hover-color);
}

.navbar button {
  border-radius: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: none;
}

.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

.navbar-toggler:hover {
  text-decoration: none;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.LoggedInMenu {
  justify-content: right;
}

.collapse:not(.show) {
  display: none;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}

ul {
  padding-left: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.me-auto {
  margin-right: auto !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

@media (min-width: 992px) {
  .mb-lg-0 {
    margin-bottom: 0 !important;
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
}

.text-end {
  text-align: right !important;
}

.nav-item {
  position: relative;
}

.mainMenu .nav-item {
  padding-left: 15px;
  padding-right: 15px;
}
.btn-login {
  /* border: #000932; */
  border-radius: 0.8rem;
}
.loginSign {
  background: #010d45 !important;
  box-shadow: 0px 10px 20px #97a9ff;
  color: #fff;
}

.loginSign:hover,
.loginSign:focus {
  background-color: #2bcdc0 !important;
  box-shadow: 0px 10px 20px #2bcdc0 !important;
  color: #fff;
}

.mainMenu .nav-link {
  border-bottom: 2px solid transparent;
  padding: 0px 0px;
  color: #010d45;
  transition: 0.5s;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }
}

.nav-link:hover {
  color: var(--bs-nav-link-hover-color);
}

.mainMenu .nav-link:hover {
  color: #2bcdc0;
  border-color: #2bcdc0;
}

.navbar-nav .nav-link.active {
  color: var(--bs-navbar-active-color);
}

.mainMenu .nav-link.active {
  color: #2bcdc0;
  border-color: #2bcdc0;
}

.mainMenu .nav-link.active,
.mainMenu .nav-link:hover {
  color: #2bcdc0;
  border-color: #2bcdc0;
}

.nav-item ul {
  display: none;
  margin: 0px;
  padding: 0px;
  background: #fff;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  position: absolute;
  top: 100%;
  left: 15px;
  z-index: 2;
  width: 160px;
  border-radius: 5px;
}

.nav-item ul li {
  display: inline-block;
  width: 100%;
  list-style: none;
}

.nav-item ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  padding: 10px 15px;
  border-bottom: 2px solid transparent;
  color: #010d45;
}

.nav-item ul li a:hover {
  color: #2bcdc0;
  border-bottom: 2px solid #2bcdc0;
}

/* <!---------------------------Navbar End----------------------------------------> */

/* <!---------------------------Banner Image Start----------------------------------------> */
.banner_main {
  display: flex;
  background-repeat: no-repeat;
  align-content: center;
  align-items: center;
  background-size: cover !important;
  padding-top: 7%;
  padding-bottom: 150px;
  background-position: center center;
  background-attachment: fixed;
  /* filter: brightness(90%); */
}

.text-bg {
  text-align: center;
  width: 100%;
}

.bann_img {
  padding-right: 40px;
}

.bann_img figure {
  margin: 0;
}

.bann_img figure img {
  width: 100%;
}

.text-bg h1 {
  color: #000;
  line-height: 60px;
  padding-bottom: 40px;
  font-weight: 700;
  padding-top: 85px;
}

.text-bg p {
  color: #000;
  line-height: 30px;
  font-size: 18px;
}

.text-bg i img {
  cursor: pointer;
}

.text-bg a {
  font-size: 17px;
  background-color: #000;
  color: #ff283f;
  font-weight: 600;
  padding: 22px 0px;
  width: 100%;
  max-width: 320px;
  text-align: center;
  display: inline-block;
  transition: ease-in all 0.5s;
  text-transform: uppercase;
}

.text-bg a:hover {
  background-color: #ff283f;
  color: #000;
  transition: ease-in all 0.5s;
}

.titlepage {
  text-align: center;
  padding-bottom: 60px;
}

.titlepage h2 {
  font-size: 45px;
  color: #060002;
  line-height: 55px;
  font-weight: 800;
  padding: 0;
}

.titlepage span {
  font-size: 17px;
  line-height: 30px;
  color: #060002;
  padding-top: 25px;
  display: block;
}

.d_flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.read_more {
  font-size: 16px;
  background-color: #020001;
  color: #fff;
  padding: 6px 0px;
  height: 44px;
  width: 100%;
  max-width: 144px;
  text-align: center;
  transition: ease-in all 0.5s;
  display: inline-block;
}

.read_more:hover {
  background: #e70139 !important;
  color: #fff !important;
  transition: ease-in all 0.5s;
}

.container {
  max-width: 1170px;
}

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
  .banner_main {
    flex-direction: column;
    padding-top: 20%;
    padding-bottom: 100px;
    background-attachment: scroll;
  }

  .text-bg h1 {
    line-height: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .text-bg p {
    line-height: 24px;
    font-size: 14px;
  }

  .text-bg a {
    padding: 16px 0px;
  }

  .titlepage h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .titlepage span {
    font-size: 14px;
    padding-top: 15px;
  }

  .read_more {
    height: 38px;
    max-width: 100px;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .banner_main {
    padding-top: 3%;
    padding-bottom: 50px;
  }
  .text-bg h1 {
    /* Adjust font-size, line-height, and padding values for smaller screens */
    /* font-size: 1.8rem; */
    line-height: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .text-bg p {
    /* Adjust line-height value for smaller screens */
    line-height: 24px;
  }
  .text-bg a {
    /* Adjust padding values for smaller screens */
    padding: 16px 0px;
  }
  .titlepage h2 {
    /* Adjust font-size, line-height, and padding values for smaller screens */
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 40px;
  }
  .titlepage span {
    /* Adjust font-size and line-height values for smaller screens */
    font-size: 15px;
    line-height: 24px;
    padding-top: 20px;
  }
}

/* <!---------------------------Banner Image Ends----------------------------------------> */

/* <!---------------------------Top Executives Starts----------------------------------------> */

.topExecutive {
  padding: 31px 72px;
}
.topExecutive h2 {
  font-weight: 700;
  /* font-size: 15px; */
  line-height: 22px;
  color: #010d45;
  text-align: center;
  margin-bottom: 32px;
}
.executiveContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.executiveContainer2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin-top: 62px;
}
.topExecutiveContainer {
  display: none;
}
@media screen and (max-width: 767px) {
  .topExecutive {
    padding: 24px 16px;
  }
  .topExecutiveContainer {
    display: block;
    width: 100%;
    height: 70px;
    position: relative;
    overflow: hidden;
  }
  .executiveContainerResp {
    position: absolute;
    top: 0px;
    display: flex;
    left: 0px;
    /* overflow: hidden; */
    white-space: nowrap;
    animation: bannermove 10s linear infinite;
    height: 100px;
  }
  .executiveContainerResp img {
    margin: 0 1rem !important;
  }

  @keyframes bannermove {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translateX(calc(-50%));
    }
  }
  .executiveContainer {
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    gap: 20px;
  }
  .executiveContainer2 {
    width: 100%;
    display: none !important;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    margin-top: 24px;
    gap: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .topExecutive {
    padding: 20px;
  }
  .topExecutive h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .executiveContainer {
    display: none;
  }
  .topExecutiveContainer {
    display: block;
  }
  .executiveContainerResp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }
  .executiveContainerResp img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
  }
}

/* <!---------------------------Top Executives Ends----------------------------------------> */

/* <!---------------------------Resume Carousel Starts----------------------------------------> */

.owl-carousel {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.owl-carousel .item {
  width: 70% !important;
  display: flex !important ;
  margin: auto;
  justify-content: center !important;
}

.owl-carousel .owl-item img {
  width: 50% !important;
  border: 2px solid #535353;
}

.owl-item active {
  z-index: 100;
}

button.owl-next,
button.owl-prev {
  color: #161c28 !important;
  background: none !important;
}

/* Example CSS for Owl Carousel arrows */
.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.owl-prev {
  left: 0 !important;
}

.owl-next {
  right: 0 !important;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  font-size: 44px !important;
  color: #000;
}

.owl-carousel .owl-dots {
  position: absolute;
  bottom: -8%;
  left: 3%;
  right: 0;
  margin-bottom: 10px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #2bcdc0 !important;
}

.owl-theme .owl-dots .owl-dot span {
  background: #869791;
}

.owl-carousel .owl-dots .owl-dot {
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.button-download {
  padding: 10px 100px !important;
}

@media (max-width: 768px) {
  .owl-carousel .item {
    width: 100% !important;
    border: 0;
  }

  .owl-carousel .owl-dots {
    position: absolute;
    bottom: -10%;
  }

  .button-download {
    padding: 10px 53px !important;
  }

  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    font-size: 22px !important;
    color: #000;
  }

  .owl-carousel .owl-item img {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  .section-title {
    margin-top: 50px;
  }

  .owl-carousel .item {
    width: 100% !important;
  }

  .owl-carousel .owl-item img {
    width: 80% !important;
  }

  .carousel-arrows {
    display: none;
  }

  .button-download {
    margin-top: 30px;
  }
}

/* <!---------------------------Resume Carousel Ends----------------------------------------> */

/* <!---------------------------Identify Starts----------------------------------------> */
.companyToolBtn {
  display: flex;
}
.companyToolBtn button {
  padding: 10px 24px;
  border: 1px solid #010d45;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-top: 32px;
  cursor: pointer;
}
.companyToolBtn button span {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.1px;
  color: #010d45;
  margin-right: 11px;
}

.identify {
  width: 100%;
  padding: 0px 72px;
  margin-top: 21px;
  padding-bottom: 80px !important;
  padding-bottom: 80px !important;
}
.identifyContainer {
  background: #f6fbfb;
  border: 1px solid #dee1ff;
  border-radius: 20px;
  height: auto;
  display: flex;
  padding: 32px 0px 0px 0px;
}
.identifyContainerText {
  width: 57%;
  margin-left: 48px;
  padding-bottom: 61px;
}
.identifyContainerText h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  font-feature-settings: "cv05" on, "cv06" on;
  background: linear-gradient(
    93.98deg,
    #2bcdc0 -3.74%,
    rgba(1, 13, 69, 0.8) 113.22%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-top: 20px;
}
.resumePartsContainer {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}
.resumeParts {
  padding: 6px 16px;
  background: #dee1ff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-right: 4px;
  margin-top: 8px;
}
.resumeParts span {
  margin-left: 9px;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: -0.1px;
  color: #010d45;
}
.identifyContainerImg {
  width: 40%;
  position: relative;
}
.identifyContainerImg img {
  max-width: 100%;
  height: auto;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
@media screen and (max-width: 767px) {
  .identify {
    padding: 0px 16px;
  }
  .identifyContainer {
    padding: 16px;
    flex-direction: column;
  }
  .identifyContainerText {
    margin: 0px;
    width: 100%;
    padding-bottom: 24px;
  }
  .identifyContainerText h3 {
    font-size: 24px;
  }
  .identifyContainerImg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .identifyContainerImg img {
    max-width: 100%;
    position: relative;
  }
}
/* <!---------------------------Identify Ends----------------------------------------> */

/* <!---------------------------Powerful Writing Start----------------------------------------> */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 720px; /* set the maximum width of the container /
  margin: 0 auto; / center the container /
  padding-left: 15px; / add some left padding to the container /
  padding-right: 15px; / add some right padding to the container */
  }

  .bordered-container {
    border: none; /* remove the border */
  }

  .resume-points {
    font-size: 1.2rem !important; /* decrease the font size */
  }

  .img-fluid {
    max-width: 100%; /* make the image responsive */
  }
}
/* <!---------------------------Powerful Writing Ends----------------------------------------> */
/* <!---------------------------Resume Writing Start----------------------------------------> */
.resume-points {
  font-size: 1.3rem !important;
  font-weight: 500;
}
/* <!---------------------------Resume Writing Ends----------------------------------------> */

/* <!---------------------------Comparison Resume Starts----------------------------------------> */
.bordered-container {
  background: #f6fbfb;
  border: 1px solid #dee1ff;
  border-radius: 20px;
  height: auto;
  display: flex;
  padding: 32px 0px 0px 0px;
}
.border-left-comparison {
  border-left: 1px solid #00000031 !important;
}
.pill-wrapper {
  position: relative;
}

.left-pill,
.right-pill {
  position: absolute;
  top: -15px;
  background-color: #2bcdc0;
  color: white;
  padding: 5px 20px;
  border-radius: 50px;
  white-space: nowrap; /* Prevent text from wrapping */
}

.left-pill {
  left: 0;
}

.right-pill {
  right: 0;
}

/* Media query for mobile and tablet devices */
@media (max-width: 767px) {
  .left-pill,
  .right-pill {
    position: static; /* Reset position for mobile and tablet devices */
    margin-top: 10px; /* Add margin for spacing */
  }
  .border-left-comparison {
    border: none !important;
  }
}

/* <!---------------------------Comparison Resume Ends----------------------------------------> */
/* <!---------------------------FAQ Starts----------------------------------------> */
.faq-section {
  padding: 60px 0;
  /* padding-bottom: 2rem !important; */
}
.faq-section .card {
  background-color: #f6fbfb;
}
.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-header {
  cursor: pointer;
  padding: 1.5rem 1rem !important;
}

.card-header:hover {
  background-color: #2bcdc062;
}

.card-header a {
  display: block;
  width: 100%;
  padding: 10px;
}

.card-header a:hover {
  text-decoration: none;
}

.card-body {
  padding: 10px;
}
@media only screen and (max-width: 768px) {
  .faq-section {
    padding: 30px 0;
  }
  .section-title {
    font-size: 20px;
  }
  .card-header {
    padding: 1rem !important;
  }
  .card-body {
    padding: 5px;
  }
  .p-tag-faq {
    font-size: 15px !important;
  }
  .p-tag-resume {
    font-size: 13px !important;
  }
  .p-faq-answers {
    font-size: 10px !important;
  }
}
/* <!---------------------------FAQ Ends----------------------------------------> */
/* <!---------------------------Contact Us Start----------------------------------------> */

.contact100-more {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding: 30px 15px 0;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}

*,
:after,
:before {
  box-sizing: inherit;
}

.contact100-more:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.p-b-47 {
  padding-bottom: 47px;
}

.size1 {
  width: 355px;
  max-width: 100%;
}

.p-r-25 {
  padding-right: 25px;
}

.txt1 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
}

.size2 {
  width: calc(100% - 43px);
}

.lnr {
  font-family: "Roboto", sans-serif;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lnr-map-marker:before {
  content: "\e833";
}

.p-b-20 {
  padding-bottom: 20px;
}

.txt2 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #999;
}

.lnr-phone-handset:before {
  content: "\e830";
}

.txt3 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #00ad5f;
}

.lnr-envelope:before {
  content: "\e818";
}

/* <!---------------------------Contact Us Ends----------------------------------------> */

/* <!---------------------------Banner to adv Starts--------------------------------------> */
.salaryComparison {
  width: 100%;
  padding: 0px 70px;
  /* margin-top: 80px; */
  margin-bottom: 2rem;
}
.salaryComaprisonContainer {
  background: linear-gradient(
    93.98deg,
    #2bcdc0 -3.74%,
    rgba(1, 13, 69, 0.8) 113.22%
  );
  border-radius: 20px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 44px;
}
.salarycompareText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.salarycompareText h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  font-feature-settings: "cv05" on, "cv06" on;
  color: #ffffff;
}
.salarycompareText button {
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-top: 40px;
  cursor: pointer;
}
.salaryToolImg {
  width: 13rem;
  height: 13rem;
}
.arrowImg {
  width: 1rem;
  height: 1rem;
}
.salarycompareText button span {
  margin-right: 11px;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.1px;
  color: #ffffff;
}

@media (max-width: 767px) {
  .header-area .main-nav .logo {
    color: #1e1e1e;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #2bcdc0 !important;
    opacity: 1;
  }
  .header-area.header-sticky .nav li.search-icon a {
    width: 100%;
  }
  .header-area {
    background-color: #f7f7f7;
    padding: 0px 15px;
    height: 100px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-left: 30px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area.header-sticky .nav {
    margin-top: 100px !important;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #191a20 !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #eee !important;
    color: #2bcdc0 !important;
  }
  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
    transition: all 0s;
  }
  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }
  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    height: auto;
  }
  .header-area .main-nav .nav li.has-sub:after {
    color: #3b566e;
    right: 30px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav li.submenu:hover ul,
  .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}

@media (min-width: 767px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}
@media (max-width: 767px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
  .salaryComparison {
    padding: 0.2rem;
  }
  .salarycompareText h3 {
    font-size: 20px;
    /* line-height: 0; */
  }
}
@media screen and (max-width: 768px) {
  .salaryComaprisonContainer {
    padding: 30px 8px !important;
  }
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .icon {
    margin-bottom: 1rem;
  }
  .down-content {
    text-align: center;
  }
}

/* <!---------------------------Banner to adv Ends--------------------------------------> */

/* <!---------------------------Footer Starts----------------------------------------> */
footer {
  margin-top: 80px;
  width: 100%;
  height: auto;
  background: #161c28;
  padding: 58px 72px;
}
footer .footerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footerContainer .companyDetails p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #d1d1d1;
  margin-top: 39px;
}
.footerContainer .companyDetails h3 {
  margin-top: 23px;
  font-weight: 600;
  font-size: 14px;
  line-height: 34px;
  color: #ffffff;
}
.footerServices {
  display: flex;
  flex-direction: column;
}
.footerServices h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 10px;
}

.footerServices p {
  font-weight: 400;
  font-size: 14px;
  line-height: 34px;
  color: #e7e7e7;
  cursor: pointer;
}
.footerServices .location {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #e7e7e7;
}
.footerServices .emailId {
  margin-top: 37px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #e7e7e7;
}
.footerServices h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-top: 9px;
}

/* Media queries for responsive design */
@media (max-width: 767px) {
  footer {
    margin-top: 48px;
    width: 100%;
    padding: 40px 24px;
  }
  footer .footerContainer {
    flex-wrap: wrap;
    gap: 20px;
  }
  footer .footerContainer > * {
    flex: auto;
  }
  .footerServices h3 {
    line-height: 15px;
  }
  .footerServices p {
    line-height: 10px;
  }
}

/* <!---------------------------Footer Ends----------------------------------------> */
